@model Physiotech.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phonenumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phonenumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dob)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
